{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Екзамени{% endblock meta_title %}
{% block title %}Екзамени{% endblock title %}
{% block content %}

        <a href="{% url "exams_add" %}" class="btn btn-primary">Додати Екзамен</a>
        <a href="{% url "exams_add_form" %}" class="btn btn-primary">Додати Екзамен_Form</a>

        <!-- Start Students Listing -->
        <table class="table">
            {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <thead>
            <tr>
              <th><a href="{% url "exams" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Id
                  {% if order_by == 'id' and reverse != '1' %}&uarr;
                  {% elif order_by == 'id' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "exams" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Назва предмету
                  {% if order_by == 'title' and reverse != '1' %}&uarr;
                  {% elif order_by == 'title' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "exams" %}?order_by=date_exam{% if order_by == 'date_exam' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Дата та час проведення
                  {% if order_by == 'date_exam' and reverse != '1' %}&uarr;
                  {% elif order_by == 'date_exam' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "exams" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Викладач
                  {% if order_by == 'teacher' and reverse != '1' %}&uarr;
                  {% elif order_by == 'teacher' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "exams" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Група
                  {% if order_by == 'group' and reverse != '1' %}&uarr;
                  {% elif order_by == 'group' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th>Дії</th>
            </tr>
          </thead>
          {% endwith %}
          <tbody>
          {% for exam in exams %}
            <tr>
              <td>{{ exam.id }}</td>
              <td><a href="{% url "exams_edit" exam.id %}">{{ exam.title   }}</td>
              <td><a href="{% url "exams_edit" exam.id %}">{{ exam.date_exam|date:"Y-m-d - H:m" }}</td>
              <td><a href="{% url "exams_edit" exam.id %}">{{ exam.teacher }}</td>
              {% if exam.group.id %}
              <td><a href="{% url "exams_edit" exam.group.id %}"> {{ exam.group.title }} </td>
              {% else %}
              <td>------------</td>
              {% endif %}

              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Результати</a></li>
                    <li><a href="{% url "exams_edit" exam.id %}">Редагувати Form</a></li>
                    <li><a href="{% url "exams_edit_hand" exam.id %}">Редагувати вручну</a></li>
                    <li><a href="{% url "exams_delete" exam.id %}">Видалити Form</a></li>
                    <li><a href="{% url "exams_delete_hand" exam.id %}">Видалити вручну</a></li>
                  </ul>
                </div>
              </td>

            </tr>
           {% endfor %}
            </tbody>
        </table>
        <!-- End Students Listing -->

{% include "students/pagination.html" %}
{% endblock content %}

