{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}
{% block title %}Групи{% endblock title %}
{% block content %}

        <a href="{% url "groups_add" %}" class="btn btn-primary">Додати Групу</a>
        <a href="{% url "groups_add_form" %}" class="btn btn-primary">Додати Групу Form Class</a>

        <!-- Start Students Listing -->
        <table class="table">
            {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <thead>
            <tr>
              <th><a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Id
                  {% if order_by == 'id' and reverse != '1' %}&uarr;
                  {% elif order_by == 'id' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Назва
                  {% if order_by == 'title' and reverse != '1' %}&uarr;
                  {% elif order_by == 'title' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th><a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Староста
                  {% if order_by == 'leader' and reverse != '1' %}&uarr;
                  {% elif order_by == 'leader' and reverse == '1' %}&darr;
                  {% endif %}</a></th>
              <th>Дії</th>
            </tr>
          </thead>
          {% endwith %}
          <tbody>
          {% for group in groups %}
            <tr>
              <td>{{ group.id }}</td>
              <td><a href="{% url "groups_edit" group.id %}">{{ group.title   }}</td>
              {% if group.leader.id %}
              <td><a href="{% url "students_edit" group.leader.id %}">{{ group.leader.last_name}} {{group.leader.first_name }}</td>
              {% else %}
              <td>------------</td>
              {% endif %}
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "groups_edit" group.id %}">Редагувати_Form</a></li>
                    <li><a href="{% url "groups_edit_hand" group.id %}">Редагувати_вручну</a></li>
                    <li><a href="{% url "journal_edit"  group.id %}">Відвідування</a></li>
                    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
                    <li><a href="{% url "groups_delete_hand" group.id %}">Видалити_вручну</a></li>
                  </ul>
                </div>
              </td>

            </tr>
           {% endfor %}
            </tbody>
        </table>
        <!-- End Students Listing -->

{% include "students/pagination.html" %}
{% endblock content %}

